.footer {
    padding: 0 0 1em 0em;
    display: flex;
    gap: .5em;
    max-width: 90rem;
    margin: auto;
    a {
        color: #8A8485;
        font-size: 18px;
        font-family: 'Montserrat';
    }

    a:nth-child(2) {
        font-weight: 800;
    }
}