.navbar-home {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Budokan Rounded";
  padding: 1em;
  max-width: 90rem;
  margin: auto;
  line-height: 1;
  font-family: "Montserrat", sans-serif !important;


  .logo {
    h2 {
        font-size: 30px;

        a {
          color: #fff;
        }
    }
  }

  .links a:first-child {
    margin: 0;
  }

  .links {
    a {
      margin-left: 2em;
      color: #afa8a8;
      font-size: 18px;
      text-decoration: none;
    }

    a:hover {
        color: #fff;
        transition: all .5s ease;
    }

    a:not(:hover) {
        transition: all .5s ease;
        color: #afa8a8;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 1em;
    
    button {
        background: #28282b;
        font-family: "Budokan Rounded";
        backdrop-filter: blur(16px);
        border: 1px solid rgba(255, 255, 255, 0.08);
        padding: 0.5em 1em;
        margin: 0;
        min-width: 100px;
        border-radius: 5px;
        cursor: pointer;

        a {
          font-size: 18px;
        color: #afa8a8 !important;
        }
    }

    button:hover {
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition:  all .5s ease;
    }

    button:not(:hover) {
        border: 1px solid rgba(255, 255, 255, 0.08);
        transition:  all .5s ease;
    }
  }
}
